html {
  font-size: 100%;
}

body {
  background-color: #EFEDED;
  color: #35383A;
  font-family: "Noto Serif JP", serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #35383A;
}

.item {
  max-width: 1000px;
  height: 698px;
  margin: 100px auto;
  position: relative;
}

.item_list {
  padding: 84px 160px 84px 84px;
  background-color: #fff;
  max-width: 680px;
  position: absolute;
  left: 0;
}

.item_list h2 {
  font-size: 1.875rem;
  margin-bottom: 30px;
  border-bottom: solid 1px #35383A;
  font-weight: normal;
  display: inline-block;
}

.item_list p {
  line-height: 1.8;
  margin-bottom: 35px;
}

.item_list_p {
  font-size: 1.875rem;
}

.item_list_btn {
  display: inline-block;
  border: solid 1px #35383A;
  border-radius: 30px;
  margin-bottom: 0;
  padding: 16px 50px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.item_list_btn:hover {
  background-color: #efeded;
}

.item_img {
  max-width: 400px;
  position: absolute;
  top: 140px;
  right: 20px;
}

.item_img img {
  vertical-align: bottom;
}

@media screen and (max-width: 1000px) {
  body {
    background-color: #fff;
  }
  .item {
    position: static;
    height: auto;
    margin: 0;
  }
  .item_list {
    padding: 60px 20px;
    max-width: 100%;
    position: static;
  }
  .item_img {
    position: static;
    max-width: 100%;
  }
}
